# AWS RDS - ecommerce_oms
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://***REMOVED***:5432/ecommerce_oms
    username: postgres
    password: ***REMOVED***
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
