server:
  port: 11000

spring:
  application:
    name: gulimall-ware
  profiles:
    active: dev
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        hostname: host.docker.internal
        prefer-ip-address: true
        health-check-path: /actuator/health
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL:}
    username: ${SPRING_DATASOURCE_USERNAME:}
    password: ${SPRING_DATASOURCE_PASSWORD:}
  sql:
    init:
      mode: never
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.atguigu.gulimall.ware: debug # 设置当前项目的日志级别为 DEBUG，便于调试 SQL 语句
    org.springframework.cloud: info # 减少一些不必要的日志输出


